<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nostreets | Solutions</title>
    <meta name="google-signin-client_id" content="545466753618-ap1q43tsr3omjeh0huefc5qg8l3kgk3o.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="Nile, Overstreet, Nile Overstreet, nostreets, nostreets sandbox, code sandbox, .NET, C#, Javascript, ASP, ASP.NET, ADO, ADO.NET" />
    <meta name="description" content="Always trying expand and improve my knowledge and understanding of different technologies like in this vast world of computer science." />
    <meta name="author" content="Nile Overstreet" />

    <!-- Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="~/assets/img/favicon-16x16.png">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicon-144.png">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicon-114.png">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicon-72.png">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicon-57.png">

    <!--  Resources style ================== -->

    @Styles.Render("~/css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.2.5/dist/css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" type="text/css">



</head>
<body ng-app="sandbox" class="scrollable-content">
    <section class="animsition">
        @RenderBody()
    </section>

    @Scripts.Render("~/jsRequirements")
    @Scripts.Render("~/angularRequirements")
    @Scripts.Render("~/customJS")


    @Html.Partial("_ServerModel")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>

    @Scripts.Render("~/customAngular")
    @Scripts.Render("~/other")



    @RenderSection("scripts", false)


</body>
</html>
