<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Nostreets Portfolio | @ViewBag.Title </title>

    <meta name="google-signin-client_id" content="545466753618-ap1q43tsr3omjeh0huefc5qg8l3kgk3o.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Always trying expand and improve my knowledge and understanding of different technologies like in this vast world of computer science." />
    <meta name="author" content="Nile Overstreet" />

    <!-- #region KEYWORDS -->
    <meta name="keywords"
          content="Nile
          ,Overstreet
          ,Nile Overstreet
          ,nostreets
          ,nostreets sandbox
          ,nostreets portfolio
          ,nostreets solutions
          ,code portfolio
                ,code portfolio website
                ,code portfolio example
                ,code portfolio html
                ,code portfolio template
                ,code portfolio html5
                ,code portfolio site
                ,code portfolio github
                ,code a portfolio website
                ,code a portfolio
                ,code a portfolio site
                ,using github as a code portfolio
                ,best code portfolio
                ,portfolio css code
                ,code and design portfolio
                ,code for portfolio website
                ,code for portfolio
                ,code for portfolio in bootstrap
                ,code for portfolio html
                ,code for portfolio site
                ,html code for portfolio gallery
                ,html code for portfolio website
                ,portfolio html code template
                ,portfolio code in html
                ,portfolio javascript code
                ,code to make portfolio
          ,code sandbox
                ,code sandbox github
                ,codesandbox live
                ,code sandbox html
                ,code sandbox twitter
                ,codesandbox typescript
                ,codesandbox editor
                ,codesandbox react
                ,codesandbox app
                ,codesandbox angular
                ,codesandbox angularjs
                ,codesandbox bootstrap
                ,codesandbox backend
                ,codesandbox blog
                ,build codesandbox
                ,codesandbox css
          ,.net
                ,.net developer
                ,.net developer salary
                ,.net developer jobs
                ,.net developer interview questions
                ,.net developer resume
                ,.net developer job description
                ,.net developer training
                ,.net developer salary in california
                ,.net developer skills
                ,.net developer achievements
                ,become a .net developer
                ,what a .net developer should know
                ,what's a .net developer
                ,hire a .net developer
                ,skills of a .net developer
                ,salary of a .net developer
                ,resume of a .net developer
                ,.net developer bootcamp
                ,c net developer
                ,c .net developer job description
                ,c .net developer interview questions
                ,.net developer description
                ,.net developer definition
          ,c#
                ,c# developer
                ,c# developer salary
                ,c# developer interview questions
                ,c# developer resume
                ,c# developer job description
                ,c# developer jobs near me
                ,c# developer remote
                ,c# developer certification
                ,c# developer skills
                ,c# developer conference
                ,c# developer jobs remote
                ,become a c# developer
                ,what a c# developer should know
                ,things a c# developer should know
                ,what is a c# developer
                ,what does a c# developer do
                ,resume of a c# developer
                ,become a better c# developer
                ,interview questions for a c# developer
                ,c# developer documentation
                ,c# developer guidelines
                ,c# game developer
                ,c# developer hourly rate
                ,c# developer home based
          ,javascript
                ,javascript developer
                ,javascript developer salary
                ,javascript developer resume
                ,javascript developer skills
                ,javascript developer tools
                ,javascript developer portfolio
                ,javascript developer jobs
                ,javascript application developer
                ,javascript app developer
                ,javascript and developer
                ,become a javascript developer
                ,what a javascript developer should know
                ,a fullstack javascript developer
                ,javascript for developers tutorial
                ,what does a javascript developer do
                ,what does a javascript developer need to know
                ,life as a javascript developer
          ,asp.net
                ,asp.net developer
                ,asp.net developer interview
                ,asp.net developer salary
                ,asp.net developer interview questions and answers for experienced
                ,asp.net developer tutorial
                ,asp.net developer means
                ,full stack asp.net developer
                ,jquery for asp.net developers
                ,asp.net mvc developer
                ,asp.net full stack developer
                ,salary of asp.net developer
                ,asp.net web developer
          ,ado.net
                ,what is ado.net
                ,ado.net dataset
                ,ado.net project
                ,ado.net mvc
                ,ado.net architecture
                ,ado.net asp.net
                ,ado.net tutorial
                ,ado.net c#
" />

    <!-- #endregion -->
    <!-- #region FAVICON -->
    <!-- Standard -->
    <link rel="shortcut icon" href="~/assets/img/favicon-16x16.png">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/img/favicon-144.png">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/img/favicon-114.png">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/img/favicon-72.png">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/img/favicon-57.png">
    <!-- #endregion -->
    <!-- #region BUNDLED STYLES -->

    @Styles.Render("~/bootstrapCss")
    @Styles.Render("~/customCss")

    <!-- #endregion -->
    <!-- #region EXTERNAL STYLES -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.2.5/dist/css/ionicons.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" type="text/css">
    <!-- #endregion -->
    <!-- #region GOOGLE ANALYTICS SETUP -->
    <!-- GOOGLE ANALYTICS API -->
    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;

        ga('create', 'UA-124039173-1', 'auto');

        ga('require', 'eventTracker');
        ga('require', 'cleanUrlTracker');
        ga('require', 'urlChangeTracker');
        ga('require', 'impressionTracker');
        ga('require', 'mediaQueryTracker');
        ga('require', 'outboundFormTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'pageVisibilityTracker');
        ga('require', 'socialWidgetTracker');

        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- GOOGLE ANALYTICS AUTO-TRACK -->
    <script src="~/assets/js/autotrack.js"></script>
    <!-- #endregion -->



</head>
<body ng-app="sandbox" class="scrollable-content">
    <section class="animsition">
        @RenderBody()
    </section>

    @Scripts.Render("~/jquery")
    @Scripts.Render("~/jqueryRequirements")
    @Scripts.Render("~/angularRequirements")
    @Scripts.Render("~/customJS")


    @Html.Partial("_ServerModel")

    <!-- SEO Sitemap Generator -->
    <script type="text/javascript">
        var _0xaea9 = ["sitemapgenerator:: ", "innerHTML", "body", "document", "stringify", "*", "postMessage", "setTimeout"];
        window[_0xaea9[7]](function () { parent[_0xaea9[6]](_0xaea9[0] + JSON[_0xaea9[4]](window[_0xaea9[3]][_0xaea9[2]][_0xaea9[1]]), _0xaea9[5]); }, 3000);
    </script>

    <!-- Swiper.JS Library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Google Log In Library -->
    <script type="text/javascript" src="https://apis.google.com/js/api:client.js"></script>



    @Scripts.Render("~/customAngular")



    @RenderSection("scripts", false)


</body>
</html>
