<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Lash Girl Proj</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Press.css" rel="stylesheet" />
    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="/assets/css/material-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/bower_components/angular-toastr/dist/angular-toastr.css" />
    <!--     CHARTIST.JS & Tooltip Plugin     -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link href="~/Scripts/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet" />

    <style type="text/css">
        .btnPointer {
            cursor: pointer;
        }

        .nav > li > a {
            cursor: pointer;
        }
    </style>

    @RenderSection("style", required: false)
</head>
<body ng-app="SabioApp">

    <div class="wrapper">
        <div class="sidebar" data-active-color="rose" data-background-color="black" data-image="/assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
                Tip 2: you can also add an image using data-image tag
                Tip 3: you can change the color of the sidebar with data-background-color="white | black"
            -->
            <div class="logo">
                <a href="/" class="simple-text">
                    Lash Girl
                </a>
            </div>
            <div class="logo logo-mini">
                <a href="../home" class="simple-text">
                    Ct
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="text-center text-warning">
                        <a href="#roles" data-toggle="collapse"><span class="text-info">Roles:</span></a>
                        <div id="roles" class="collapse">
                            @if (Model.IsContentManager)
                            { <p>Content Manager</p> }
                            @if (Model.IsInfluencer)
                            { <p>Influencer</p> }
                            @if (Model.IsBlogAdmin)
                            { <p>Blog Admin</p> }
                            @if (Model.IsAdmin)
                            { <p>Admin</p> }
                            @if (Model.IsSuperAdmin)
                            { <p>Super Admin</p> }
                        </div>
                    </div>
                    <div class="photo">
                        @if (Model.User != null)
                        {
                            <img src="@Model.User.AvatarUrl" />
                        }
                        else
                        {
                            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRe-q4nY1XExM9elIZJwIX14tqmqT05qdcDp0y9e_KL3IuC5uuRUXXngQ" />
                        }
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            @(Model.User == null ? "User Handle does not exist." : @Model.User.Handle)
                            <b class="caret"></b>
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="/lashgirls/@Model.User.Handle">My Profile</a>
                                </li>
                                <li>
                                    <a href="/account">Edit Profile</a>
                                </li>
                                <li>
                                    <a href="/account/#!/settings">Settings</a>
                                </li>
                                <!--".logout-user"-->
                                <li>
                                    <a href="#" class="logout-user">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li>
                        <!--after successful login, redirect to dashboard for now-->
                        <a href="/account">
                            <i class="material-icons">dashboard</i>
                            Dashboard
                        </a>
                    </li>

                    @if (Model.IsSuperAdmin)
                    {
                        <li>
                            <a href="/admin/user/role">
                                <i class="material-icons">dashboard</i>
                                User Roles
                            </a>
                        </li>
                        <li>
                            <a href="#salesStatistics" data-toggle="collapse" id="salesDropdown">
                                <i class="material-icons">dashboard</i>
                                <p> 
                                    Sales Statistics
                                    <b class="caret"></b>
                                </p>
                            </a>
                            <div class="collapse" id="salesStatistics">
                                <ul class="nav">
                                    <li>
                                        <a href="/admin/statistics/piechart">
                                            <i class="material-icons">pie_chart</i>
                                            <p>
                                                Pie Charts
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/statistics/barchart/0">
                                            <i class="material-icons">today</i>
                                            <p>
                                                Monthly Statistics
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/statistics/bystates">
                                            <i class="material-icons">map</i>
                                            <p>
                                                Map
                                            </p>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }

                    @if (Model.IsAdmin || Model.IsSuperAdmin)
                    {
                        <li>
                            <a href="/admin/referrals">
                                <i class="material-icons">dashboard</i>
                                Referral Code Analytics
                            </a>
                        </li>
                        <li>
                            <a href="/admin/addresses/list">
                                <i class="material-icons">dashboard</i>
                                Addresses
                            </a>
                        </li>
                        <li>
                            <a href="/admin/reddit/categories">
                                <i class="material-icons">dashboard</i>
                                Reddit Categories
                            </a>
                        </li>
                        <li>
                            <a href="/admin/faqs/categories">
                                <i class="material-icons">dashboard</i>
                                FAQ Categories
                            </a>
                        </li>

                        <li>
                            <a href="/admin/faqs">
                                <i class="material-icons">dashboard</i>
                                Frequently Asked Questions
                            </a>
                        </li>
                        <li>
                            <a href="/profiles">
                                <i class="material-icons">dashboard</i>
                                Profiles
                            </a>
                        </li>
                        <li>
                            <a href="/admin/newsletter">
                                <i class="material-icons">dashboard</i>
                                Newsletter
                            </a>
                        </li>
                        <li>
                            <a href="/admin/phones/index">
                                <i class="material-icons">dashboard</i>
                                Phones
                            </a>
                        </li>
                        <li>
                            <a href="/admin/phonetype/">
                                <i class="material-icons">dashboard</i>
                                Phone Types
                            </a>
                        </li>
                        <li>
                            <a href="/admin/products/dashboard">
                                <i class="material-icons">dashboard</i>
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="/admin/press/index">
                                <i class="material-icons">dashboard</i>
                                Press
                            </a>
                        </li>
                        <li>
                            <a href="/admin/people/index">
                                <i class="material-icons">dashboard</i>
                                People
                            </a>
                        </li>
                        <li>
                            <a href="/admin/privacypolicy">
                                <i class="material-icons">dashboard</i>
                                Privacy Policy
                            </a>
                        </li>

                    }

                    @if (Model.IsBlogAdmin || Model.IsAdmin || Model.IsSuperAdmin)
                    {
                        <li>
                            <a href="/admin/blogs/">
                                <i class="material-icons">dashboard</i>
                                Your Blogs
                            </a>
                        </li>
                        <li>
                            <a href="/admin/followers/index">
                                <i class="material-icons">dashboard</i>
                                Followers
                            </a>
                        </li>

                    }

                    @if (Model.IsContentManager || Model.IsAdmin || Model.IsSuperAdmin)
                    {
                        <li>
                            <a href="/admin/cms/pages/manage">
                                <i class="material-icons">dashboard</i>
                                CMS Pages
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                            <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons visible-on-sidebar-mini">view_list</i>
                        </button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Toggle Nav </a>
                    </div>
                    <div class="collapse navbar-collapse" ng-controller="TopNavBarController as TopNavBar">
                        <ul class="nav navbar-nav navbar-right">
                            @* ====== "+" Button Start ====== *@
                            <li class="dropdown">
                                <a class="dropdown-toggle btnPointer" data-toggle="dropdown" ng-click="TopNavBar.onPlusBtnClick()">
                                    <i class="material-icons">add</i>
                                    <p class="hidden-lg hidden-md">Add Data</p>
                                </a>
                              
                            </li>
                            @* ====== "+" Button End ====== *@
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons" id="profile">person</i> <!--"#profile"-->
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                                <!--Create a dropdown menu where logout is an option-->
                                <ul class="dropdown-menu">
                                    <li>
                                        <!--".logout-user"-->
                                        <a href="#" class="logout-user">
                                            Log Out
                                        </a>
                                    </li>
                                   
                                </ul>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group form-search is-empty">
                                <input type="text" class="form-control" placeholder="Search" ng-model="TopNavBar.searchTerm">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon" ng-click="TopNavBar.sendSearchTerm('searchStarted', TopNavBar.searchTerm)" enterPress>
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            @*
                ===============================================================
                *****BODY CONTENT INJECTION START*****
                ===============================================================
            *@
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @*
                ===============================================================
                *****BODY CONTENT INJECTION END*****
                ===============================================================
            *@
            @if (IsSectionDefined("footer"))
            {
                @RenderSection("footer")
            }
            else
            {
                @Html.Partial("_FooterAdmin")
            }
        </div>
    </div>

    <script src="/assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/material.min.js" type="text/javascript"></script>
    <script src="/assets/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <!-- Forms Validations Plugin -->
    <script src="/assets/js/jquery.validate.min.js" type="text/javascript"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="/assets/js/moment.min.js" type="text/javascript"></script>
    <!--  Charts Plugin -->
    <script src="/assets/js/chartist.min.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="~/Scripts/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--  Plugin for the Wizard -->
    <script src="/assets/js/jquery.bootstrap-wizard.js" type="text/javascript"></script>
    <!--  Notifications Plugin    -->
    <script src="/assets/js/bootstrap-notify.js" type="text/javascript"></script>
    <!-- DateTimePicker Plugin -->
    <script src="/assets/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!-- Vector Map plugin -->
    <script src="/assets/js/jquery-jvectormap.js" type="text/javascript"></script>
    <!-- Sliders Plugin -->
    <script src="/assets/js/nouislider.min.js" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <!-- Select Plugin -->
    <script src="/assets/js/jquery.select-bootstrap.js" type="text/javascript"></script>
    <!--  DataTables.net Plugin    -->
    <script src="/assets/js/jquery.datatables.js" type="text/javascript"></script>
    <!-- Sweet Alert 2 plugin -->
    <script src="/assets/js/sweetalert2.js" type="text/javascript"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/assets/js/jasny-bootstrap.min.js" type="text/javascript"></script>
    <!--  Full Calendar Plugin    -->
    <script src="/assets/js/fullcalendar.min.js" type="text/javascript"></script>
    <!-- TagsInput Plugin -->
    <script src="/assets/js/jquery.tagsinput.js" type="text/javascript"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="/assets/js/material-dashboard.js" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="/assets/js/demo.js" type="text/javascript"></script>

    <!--Lashgirl Below -->
    @Scripts.Render("~/bower/angular")
    @Scripts.Render("~/sabio/base")
    @RenderSection("pageInitScripts", required: false)
    @Scripts.Render("~/sabio/core")


    <!--Log out-->
    <script type="text/javascript" src="~/Scripts/sabio.services.register.js"></script>

    <!-- Angular SweetAlert Service -->
    <script src="~/Scripts/sabio.services.swal.js"></script>
    <script src="~/Scripts/app/general/sweetAlert.js"></script>
    <!--Angular Toaster Notification Plugin-->

    <script src="/dynamic/js/page/analytics" type="text/javascript"></script>
    <script src="/dynamic/js/ng/analytics" type="text/javascript"></script>
    <script src="~/Scripts/app/controllers/TopNavBarController.js"></script>
    <script src="~/Scripts/app/directives/enterPress.js"></script>

    <!-- Fixes the left dropdowns on the admin pages. -->
    <script src="~/Scripts/app/general/fixAdminLeftDropdown.js"></script>

    @Html.Partial("_ServerModel")
    @RenderSection("scripts", required: false)




</body>

</html>

